@media (max-width: 375px) {
	.hero__title {
		font-size: 26px;
	}
}

.navigation-hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	gap: 25px;
	max-width: 480px;
}

.navigation-hero__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-bottom: 5px;
	cursor: pointer;
}
.navigation-hero__button.active::before {
	height: 2px;
	border-radius: 2px;
	width: 100%;
	position: absolute;
	content: "";
	background-color: #ed4d8b;
	bottom: 0;
	left: 0;
}
.navigation-hero__button img {
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
}
.navigation-hero__button span {
	font-size: 14px;
	font-weight: 400;
}
@media (max-width: 375px) {
	.navigation-hero {
		gap: 5px;
	}
	.navigation-hero__button img {
		width: 20px;
		height: 20px;
	}
	.navigation-hero__button span {
		font-size: 12px;
	}
}

/* about */
.about-sector {
	margin-bottom: 20px;
}
.about__toggler-block {
	margin-bottom: 10px;
}
.about-sector .about__title {
	margin-bottom: 10px;
}
.about-sector .about__text {
	margin-bottom: 10px;
	display: inline-block;
}
.about-sector .about__link {
	color: #ed4d8b;
	text-decoration: underline;
	display: inline-block;
}
.about__chart:not(:last-child) {
	margin-bottom: 20px;
}
.about__chart h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 116%;
	color: #ed4d8b;
	margin-bottom: 20px;
}
.about__chart p {
	text-decoration: underline;
	margin-bottom: 20px;
}

.about__chart img {
	max-width: 480px;
	max-height: 250px;
	object-fit: contain;
	object-position: center;
	display: block;
}
