/* about */
.about-sector {
	margin-bottom: 30px;
}
.about-sector .about__title {
	margin-bottom: 20px;
}
.about-sector .about__sub-title {
	margin-bottom: 20px;
}

.about-subjects__stages {
	margin-bottom: 20px;
	color: #ed4d8b;
	font-weight: 700;
	font-size: 18px;
}
.about-subjects ul:not(:last-child) {
	margin-bottom: 30px;
}

.about-subjects ul li {
	margin-bottom: 4px;
}
